<header>
  <nav>
    <div class="logo-main"><img src="/img/Logo.png" alt="ACED Division" class="logo-full"></div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/pixels">Pixels</a></li>
      <li><a href="/devops">Devops</a></li>
      <li><a href="/trades">Trades</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
