<nav class="v2-nav">
  <a href="/" class="brand">
    <img src="/img/aceddivision-Logo-Icon.png" alt="ACED Division mark">
    ACED
  </a>
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-links">
    <a href="/pixels">Pixels</a>
    <a href="/devops">Devops</a>
    <a href="/trades">Trades</a>
    <a href="/portfolio">Portfolio</a>
  </div>
  <a href="/#contact" class="nav-cta">Start a Project</a>
</nav>
