.accent {
  color: #EDA505;
}

.accent-secondary {
  color: #b2b2b2;
}

.accent-bg {
  background-color: #EDA505;
}

.accent-bg-secondary {
  background-color: #6d6d6d;
}

.accent-text {
  color: #EDA505;
  font-family: 'Fira Code', monospace;
  font-weight: bold;
}

body {
  background-color: #757575;
  color: #d1d1d1;
}

.btn-accent {
  background-color: #eda305ab;
  color: #f8faff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}

.btn-accent-secondary {
  background-color: #f8faff;
  color: #EDA505;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}

.btn-outline-accent {
  border: 1px solid #eda505;
  color: #eda505;
  transition: all 0.1;
}

.btn-outline-accent:hover {
  background-color: rgba(92, 92, 92, 0.299);
  color: #EDA505;
  /* transition: all 0.01ms; */
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #aaa, #333);
  /* Gradient gray background */
}

#logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.6);
  animation: pulse 2s infinite ease-in-out;
}

/* Pulse animation */
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.4;
  }
}

#logo {
  width: 200px;
  /* Adjust as per the logo size */
  height: auto;
}

.text-justify {
  text-align: justify;
}

.text-normal {
  font-family: 'Inter', sans-serif;
}

.text-body {
  color: #d1d1d1 !important;
}